* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

.container-one {
  display: flex; /* display none when submit button clicked */
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  margin: 5%; /* or 10px??? */
  width: 370px;
}

.container-one img {
  width: 40px;
  background-color: hsl(215, 12%, 27%);
  border-radius: 50%;
  padding: 12px;
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

p {
  color: hsl(217, 12%, 63%);
  line-height: 25px;
}

.butt-nums {
  justify-content: space-between;
  display: flex;
}

.butt-nums button {
  border-radius: 50%;
  background-color: hsl(215, 12%, 27%); /*#373f46*/
  padding: 18px 21px;
  border: none;
  color: hsl(217, 12%, 63%);
  cursor: pointer;
}

.butt-nums button:hover {
  background-color: hsl(217, 12%, 63%);
  /* when hovering, bg turns light gray and font white, when selected onclick, bg turns orange and font white JS*/
  color: white;
}

/* .selected-rating {
  background-color: hsl(25, 97%, 53%);
  color: white;
} */

.submit-button {
  background-color: hsl(25, 97%, 53%);
  border-radius: 30px;
  border: none;
  color: white;
  letter-spacing: 3px;
  padding: 18px 50px;
  margin: 15px 0;
  cursor: pointer;
}

.submit-button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.container-two {
  display: none;
  /* display: flex; */
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  margin: 5%; /* or 10px??? */
  text-align: center;
  align-items: center;
  width: 370px;
}

.container-two img {
  padding: inherit; /* not sure, might need to change */
}

.rating-selection {
  background-color: hsl(215, 12%, 27%);
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  padding: 9px 15px;
}

.thank-you {
}

@media screen and (min-width: 1440px) {
  .container-one {
    border-radius: 25px;
  }
}
